// It's highly recommended to change the default colors
// to match your app's branding.

$primary   : #9c27b0;
$secondary : #26A69A;
$accent    : #69f0ae;

$dark      : #424242;

$positive  : #21BA45;
$negative  : #C10015;
$info      : #31CCEC;
$warning   : #f44336;

@import '~quasar-variables-styl'
